*, ::after, ::before {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(138px, 1fr));
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}

.column{
    justify-content: center;
    text-align: center;
}