#search {
  border: 2px solid;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.inner {
  background: #3e3e3e url(imgs/textur.png) repeat-x;
}

.img-empty {
  width: 300px;
  height: 450px;
}

#home{
    top: 100;
    left: 100;
    width: 50px !important;
    cursor: pointer;
  }